<a href="https://colab.research.google.com/github/Muhammet-Gokmen/AWS/blob/main/Untitled35.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = [0,1,2,3,4]
i = 0
while i<5:
  print(my_list[i])
  i+=2

0
2
4

In [ ]:
number=0
while number <= 10:
  print(number)
  number+=1
else:
  print('while loop ended and value of number is ' + str(number))

0
1
2
3
4
5
6
7
8
9
10
while loop ended and value of number is 11

In [ ]:
x= 11%5
print(x)

1

In [ ]:
liste = ["ada", "adana", "adanaya"]
for index, elemen in enumerate(liste):
    print('{}.{}'.format(index+1,elemen))

1.ada
2.adana
3.adanaya

In [ ]:
liste = ["ada", "adana", "adanaya"]
for index, elemen in enumerate(liste):
    print('{}.{}'.format(index+1,elemen))

def add_number(x,y,z):
    a= x+y
    b= z+y
    c= x+z
    print(a,b,c)
add_number(1,2,3)

1.ada
2.adana
3.adanaya
3 5 4

In [1]:
words = ["adam", "baca", "clock", "banana", "swim"]
filtered_words = list(filter(lambda x: len(x) < 5, words))
for i in filtered_words:
    print(i)

adam
baca
swim